@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family:Dirooz ;
        src: url(/fonts/Dirooz-FD.ttf) format(truetype);
    }

    @font-face {
        font-family:Dinar;
        src: url(/fonts/Far_Dinar_Two_Medium.ttf) format(truetype);
    }

    body{
      font-family: Dirooz;
      direction: rtl;
      color:#525252;
      background-color:#fdfdfd46 ;
      overflow: hidden;
    }
}

@layer components{

  
}