@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Dirooz;
        src: url(/fonts/Dirooz-FD.ttf) format(truetype);
    }

    @font-face {
        font-family: Dinar;
        src: url(/fonts/Far_Dinar_Two_Medium.ttf) format(truetype);
    }

    body {
        font-family: Dirooz;
        direction: rtl;
        color: #333;
        background-color: #fdfdfd46;
        overflow-x: hidden;
        line-height: 2;
    }
}


@layer utilities {
    .title-shadow {
        text-shadow: .3rem .4rem .3rem #ec489a6c;
    }

    .brand-section {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(50deg, transparent 60%, rgba(225, 222, 222, 0.546) 40%);
    }

    .text-shadow {
        text-shadow: .2rem .4rem .3rem rgba(0, 0, 0, 0.896);
    }

    .custom-img {
        border-top-left-radius: 150px;
        transform: skewX(10deg);
        outline:3px solid #333;
        border:.8rem solid #fff;
        border-bottom-right-radius: 200px;
        
    }

    .custom-img-1{
        transform: skewX(5deg);
        outline:3px solid #333;
        border:.3rem solid #fff;
      border-top-left-radius: 150px;
      border-bottom-right-radius: 150px;
    }
}

@layer components {

    .header {
        overflow: hidden;
        background-image: linear-gradient(245deg, rgba(249, 213, 184, 0.247), rgba(254, 218, 173, 0.29)), url('./img/header.jpg');
        background-repeat: no-repeat;
        background-position: right 35%;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
        direction: ltr;
    }

    .title-section {
        @apply font-bold text-center xsm:text-start text-2xl md:text-[1.55rem] tracking-wide relative before:content-[url('/img/title.png')] before:absolute before:-bottom-14 before:right-[12px] before:w-full
    }

}